article
  hr
  .body-container
    .header-article
      .header-article-left-group
        p Подзадача
        button.btn-neutral Создать
      .header-article-right-group
        button.btn-primary Сохранить
        button.btn-neutral Сохранить и выйти
    .article-body
      h4.header-article-body STSK0004783 На инциденте, запросе, проблеме, в статусе закрыто некоторые поля остаются редактируемыми для агента если он Caller
      form(action="").form-container
        div.grow-2
          label(for="theme").label-style 
            span.span-acccent * 
            span Тема
          input(id="theme" placeholder="На инциденте, запросе, проблеме, в статусе закрыто некоторые поля остаются редактируемыми для агента если он Caller")
        div.grow-2
          label(for="status").label-style Статус
          input(id="status" placeholder="Новая")
        div.grow-2
          label(for="description").label-style Описание
          input(id="description" placeholder="")
        div.grow-2
          label(for="product").label-style Продукт
          input(id="product" placeholder="Platform")
        div.grow-2
          label(for="notes").label-style 
            span.span-acccent * 
            span Рабочие заметки
          input(id="notes" placeholder="Проверить ACL id=172830402014193655")
        div.grow-2
          label(for="priority").label-style Приоритет
          input(id="priority" placeholder="Средний")
        div.grow-2
          label(for="description").label-style Ответственный
          input(id="description" placeholder="")
        div.grow-2
          label(for="group").label-style Группа
          input(id="group" placeholder="")
        div.grow-1
          label(for="comments").label-style Комментарии
          input(id="comments" placeholder="")
        div.grow-1
          label(for="reviewers").label-style Согласующие
          input(id="reviewers" placeholder="")
