-
  const tasksList = [
    'Моя работа',
    'Структура портала',
    'Личное расписание',
    'Отсутствие на рабочем месте',
    'Портфель услуг',
    'Дашборды',
    'Доски задач',
    'Обращения',
    'События',
    'Инциденты',
    'Проблемы',
    'Настройка каталогов',
    'Запросы на обслуживание',
    'Запросы на изменение',
    'Управление конфигурациями',
    'Управление уровнем услуг',
    'Настройка соответствий'
  ]

aside
  .icons-aside.icons
    img(src="./src/assets/Panel.png" alt="panel" width="24px")
    img(src="./src/assets/Favorites.png" alt="favorites" width="24px")
  .menu
    .header-menu
      input(placeholder="Поиск по меню").menu-input
      button 
        img(src="./assets/Unpin.png")
    .menu-body
      ul.list-style-img
        each task in tasksList
          a(href="#")
            li=task
