header
  .logo
    img(src="./src/assets/LogoMain.png" alt="logo")
    img(src="./src/assets/LogoO.png" alt="logo").logo-o
  nav
    input(placeholder="Поиск").header-input
    .user
      img(src="./src/assets/PersonaImage.png").rounded
      div Максим Галактионов
      button   
        img(src="./src/assets/SettingsButton.png" alt="button")
