header {
  @extend %row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

nav {
  @extend %row;
  gap: 16px;
}

.logo {
  img {
    position: relative;
  }
}

.logo-o {
  position: absolute;
  right: 65px;
  top: 2px;
}

.header-input {
  position: relative;
  width: 296px;
  height: 32px;
  border: 1px solid $border-neutral;
  border-radius: 5px;
  z-index: 0;
}

.header-input::before {  
  display: inline-block;
  background-image: url("../../assets/Search.png");
  width: 32px;
  height: 32px;
  content: "";
}


.rounded {
  border-radius: 50%;
}

.user {
  @extend %row;
  gap: 8px;
  align-items: center;
  div {
    width: auto;
  }
  button {
    border: none;
    background-color: $background-button;
  }
}


@media(max-width: 768px) {
  .logo {
    display: none;
    position: relative;
  }

  .logo::before {
    width: 20px;
    height: 20px;
    position: absolute;
    content: url("../../assets/Panel.png");
  }

  .user {
    justify-content: end;
    div {
      display: none;
    }
  }
  nav {
    input {
      display: none;
    }
  }
}