$text-main-neutral: #2E3238!default;
$text-mask: #ABB1BA!default;
$text-accent: #B21F00!default;
$border-neutral: #D5D8DD!default;
$border-badge: #99D5FF!default;
$background-badge: #E5F4FF!default;
$background-button: #FFFFFF!default;
$background-primary: #0078CF!default;
$background-input: #FCFCFD!default;
$icon-neutral: #2E3238!default;
$icon-disabled: #ABB1BA!default;
